{% extends 'base.html.twig' %}

{% block body %}
 <div style="background-color:rgba(10,10,10,.9); color:white;position:fixed; bottom:0; width:100%; padding:5px;" class="center-align">
        Sali kaya sa usapan. Komonikta lamang sa aming network <span class="yellow-text">Magandang Buhay!</span> at pumunta sa <span class="yellow-text">192.168.10.100:8000</span> at ang password ay 
        <span class="yellow-text">#mbucban2017</span>
    </div>
   
{% endblock %}
{% block stylesheets %}
<style rel="text/css">
body {
    height: 100%; 
    background-image:url("{{ asset('home.jpg') }}");
    background-repeat: no-repeat;
    position:center;
    background-size: cover;
}
</style>

{% endblock %}