{% extends "::base.html.twig" %}

{% block title %}AppBundle:CountdownTimer:timer{% endblock %}

{% block body %}
    <div class="container center-align">
        <h1 id="timer" style="font-size: 300px; color: #f50057;"></h1>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/timer.js') }}"></script>
{% endblock %}
