{% extends "::base.html.twig" %}

{% block title %}AppBundle:CountdownTimer:timer{% endblock %}

{% block body %}
    <div class="container center-align">
        <h1 id="timer" style="font-size: 400px; color: #f50057;"></h1>
    </div>
    <div style="background-color:rgba(10,10,10,.9); color:white;position:fixed; bottom:0; width:100%; padding:5px;" class="center-align">
        Sali kaya sa usapan. Komonikta lamang sa aming network <span class="yellow-text">Magandang Buhay!</span> at pumunta sa <span class="yellow-text">192.168.10.100:8000</span> at ang password ay 
        <span class="yellow-text">#mbucban2017</span>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/timer.js') }}"></script>
{% endblock %}
